Repository AlfonsoGhislieri/unmatched: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, pylint

prettier:
  name: prettier
  entry: frontend/node_modules/.bin/prettier --write --log-level warn
  language: node

eslint:
  name: eslint
  entry: bash -c 'cd frontend && yarn run format:lint'
  language: system
  pass_filenames: false

pylint:
  name: pylint
  entry: bash -c 'cd backend/src python3 -m pylint'
  language: system
  args:
  - --disable=R,C,W,I

feat: add deck name to matchup returns
  backend/src/routes/helpers/helpers.py
  backend/src/routes/helpers/tests/test_helpers.py
  backend/src/routes/matchups.py
  backend/src/routes/tests/test_matchups.py
  backend/src/schemas/schemas.py
Due: pylint

chore: pull db dependency out of dependencies file into db
  backend/src/conftest.py
  backend/src/db/database.py
  backend/src/routes/decks.py
  backend/src/routes/dependencies.py
  backend/src/routes/fighters.py
  backend/src/routes/matchups.py
  backend/src/settings.py
Due: pylint

tests: pull setup of url and engine into fixture
  backend/src/conftest.py
Due: pylint

feat: setup docker images and docker compose
  backend/dockerfile
  backend/requirements.txt
  backend/src/scripts/populate_db.py
  backend/src/scripts/tests/test_import_csv.py
  backend/src/settings.py
  docker-compose.yml
  frontend/dockerfile
Due: pylint

feat: auto reload of backend docker and fix health check for psql container
  backend/dockerfile
  docker-compose.yml
Due: none

feat: add entrypoint script that checks hashes and imports data
  backend/.gitignore
  backend/README.md
  backend/dockerfile
  backend/entrypoint.sh
  docker-compose.yml
Due: none

chore: only mount src and not whole of backend folder
  backend/dockerfile
  docker-compose.yml
Due: none

feat: dep inj for creation of db, test containers, local dev db
  backend/README.md
  backend/requirements.txt
  backend/src/conftest.py
  backend/src/db/database.py
  backend/src/db/tests/test_database_connection.py
  backend/src/scripts/populate_db.py
  docker-compose.yml
Due: pylint

chore: set port back to 5432
  backend/README.md
  docker-compose.yml
Due: none

chore: add script that has env vars set in it and update drivers & docs for docker
  README.md
  backend/README.md
  backend/src/scripts/run-populate-db.sh
  docker-compose.yml
Due: none

feat: add health checks to containers
  backend/src/main.py
  docker-compose.yml
  frontend/dockerfile
Due: pylint

feat: store backendurl as env var in docker compose
  backend/README.md
  docker-compose.yml
Due: none

chore: use cmd instead of cmd shell
  docker-compose.yml
Due: none

docs: fix typo
  README.md
Due: none

docs: make main readme clearer, removing outdated info
  README.md
  backend/README.md
  backend/testfile.txt
Due: none

chore: remove script that is no longer needed for local dev
  backend/README.md
  backend/src/scripts/setup-db.sh
Due: none

docs: add connecting to db info
  README.md
Due: none

chore: migrate from CRA to next
  docker-compose.yml
  frontend/.gitignore
  frontend/next.config.mjs
  frontend/package.json
  frontend/public/index.html
  frontend/src/app/[[...slug]]/client.tsx
  frontend/src/app/[[...slug]]/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/index.tsx
  frontend/src/reportWebVitals.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Due: prettier

chore: transition to use app router
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/app/[[...slug]]/client.tsx
  frontend/src/app/[[...slug]]/page.tsx
  frontend/src/app/decks/[deck]/page.tsx
  frontend/src/app/decks/page.tsx
  frontend/src/app/not-found.tsx
  frontend/src/app/page.tsx
  frontend/src/pages/About.tsx
  frontend/src/pages/Hero.tsx
  frontend/src/pages/Heroes.tsx
  frontend/yarn.lock
Due: prettier

chore: update docker files
  docker-compose.yml
  frontend/dockerfile
Due: none

docs: update script
  README.md
Due: none

Path conditions:
  prettier: any of: ^frontend/.*\.(md|js|jsx|tsx|ts)$
  eslint: any of: ^(frontend/)/
  pylint: any of: ^(backend/src)/ and \.py$
